.highlights>div {
	padding: 15px;
	background: #ddd;
	border-radius: 5px;
}

.highlights .pull-quote {
	margin: 4px 15px;
}

.highlights .pull-quote p {
	font-family: FontAwesome;
	padding: 15px;
	background: #eee;
	border-radius: 5px;
}

.highlights .pull-quote p::before {
	content: '\f10d';
	padding-right: 4px;
}

.highlights .pull-quote p::after {
	content: '\f10e';
	padding-left: 4px;
}
